<div class="content">
    <h1>Park Archive</h1>

    <table id="parkTable" class="table">
        <thead>
            <tr id="parkTableHeader">
                <th id="name_header" class="is-clickable">Name</th>
                <th id="date_header" class="is-clickable">Date</th>
                <th id="groupname_header" class="is-clickable">Group</th>
                <th id="gamemode_header" class="is-clickable">Mode</th>
                <th id="scenario_header" class="is-clickable">Scenario</th>
            </tr>
        </thead>
        <tbody id="parkTableBody">
        </tbody>
    </table>
</div>

<nav id="pagination" class="pagination" role="navigation" aria-label="pagination">
</nav>
<script nonce="<%= nonce %>">
    window.archivequeryparams = {
        page: <%= pagenum %>,
        orderby: '<%= order.orderby %>',
            order: <%= order.order %>
    };
</script>
<script src="/assets/js/browser.js?v1"></script>