<div id="header">
    FFA Tycoon
    <div id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive">Park&nbsp;Archive</a></li>
            <li><a href="/guide">Guide</a></li>
        </ul>
    </div>
</div>