<div class="content">
    <div class="box">
        <h1>Free For All OpenRCT2 Servers</h1>
        <p>
            Freely build without the need for Discord verification. Look for ffa-tycoon.com in the server browser.
        </p>
    </div>
    <div class="box">
        <h2>Servers</h2>
        <div id="serverlistings">
            <% if (servers) {
                servers.forEach(function(server){ %>
                <div class="block">
                    <span class="subtitle"><%= server._name %></span>
                    
                    <div class="parkstats">
                        <div><span class="property">Group:</span> <span><%= server._group %></span></div>
                        <div><span class="property">Mode:</span> <span><%= server._mode %></span></div>
                        <% if (server._details) { %>
                        <div><span class="property">Scenario:</span> <span><%= server._details.park.name %></span></div>
                        <div><span class="property">Guests:</span> <span><%= server._details.park.guests %></span></div>
                        <div><span class="property">Rating:</span> <span class="<%
                            if(server._details.park.rating >= 550){
                                echo('is-success');
                            }
                            else if (server._details.park.rating > 350){
                                echo('is-warning');
                            }
                            else{
                                echo('is-danger');
                            }
                            %>"><%= server._details.park.rating %></span></div>
                        <div><span class="property">Online:</span> <span><%= server._details.network.players.length - 1 %></span></div>
                        <% } %>
                    </div>
                </div>
            <% }); } %>
        </div>
    </div>

    <footer>
        <div class="navbar-menu box">
            <div class="navbar-start">
                <a class="navbar-item" href="/discord">
                    Discord
                </a>
                <a class="navbar-item" href="https://status.ffa-tycoon.com/">
                    Status
                </a>
    
                <a class="navbar-item" href="https://gitlab.com/sanin.dev/ffa-tycoon">
                    Source&nbsp;Code
                </a>
            </div>
        </div>
    </footer>
</div>
<script src="/assets/js/dashboard.js?v1"></script>