<div class="content">
    <div class="box">
        <h1>Free For All OpenRCT2 Servers</h1>
        <p>
            Freely build without the need for Discord verification. Look for ffa-tycoon.com in the server browser.
        </p>
    </div>
    <div class="box">
        <h2>Servers</h2>
        <% if (servers) {
            servers.forEach(function(server){ %>
            <div class="block">
                <span class="subtitle"><%= server._name %></span>
                <p>
                    <%= server._group %> -
                    <%= server._mode %>
                </p>
            </div>
        <% }); } %>
    </div>
</div>