<!-- Content -->
<div class="content">
    <!-- Custom CSS -->
    <style>
        em { font-style: italic; }
        div.map { background: #f6f7f4; border: 1px solid #d2d4cb; border-radius: 0.5em; box-shadow: 0.15em 0.15em 0.25em rgba(0,0,0,0.075); font-size: 0.875em; line-height: 1.33em; }
        div.map img { width: 100%; border-radius: 0.25em 0.25em 0 0; border-bottom: 1px solid #d2d4cb; } div.map div { padding: 1em 1.5em 1.5em; } div.map hr { background-color: #d2d4cb; height: 1px; margin: 1.25em 0; }
        div.map ul { margin-top: -0.5em; }
        div.map span.is-family-monospace { padding: 0.25em; background: #fff; border: 1px solid #d2d4cb; box-shadow: #95978d 1px 1px; transition: 0.2s; }
        div.map span.is-family-monospace:hover { background: #ffc; cursor: pointer; }
    </style>
    <!-- Map List -->
    <div class="box">
        <h1 id="rules">Map List</h1>
        <p>There is a variety of maps, both vanilla and custom-made, that are shuffled through the FFA Tycoon servers.</p>
        <p>If you want to play a specific map after the next server reset, use the <strong class="has-text-weight-semibold">!vote</strong> command in-game and type in the map's ID (e.g. <span style="font-size: 0.9em" class="is-family-monospace">!vote arid_heights</span>). Whichever map receives the most votes will be the one selected upon reset. Each map listed here will contain a designated vote string command which can be copied to your clipboard when clicked.</p>
    </div>
    <!-- Vanilla Maps -->
    <div class="box">
        <h2>Vanilla Maps</h2>
        <p class="mb-4">The vanilla maps, based off the original scenarios from <em>RollerCoaster Tycoon</em> and <em>RollerCoaster Tycoon 2</em>, contain all non-expansion ride types from RCT2, as well as the ones officially added to OpenRCT2. All vanilla maps were designed by Chris Sawyer and edited by RGTM for FFA Tycoon.</p>
        <div class="columns mt-4 mb-4 is-multiline">
            <!-- Arid Heights -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/arid_heights.jpg" alt="Arid Heights RollerCoaster Tycoon Loopy Landscapes roller coaster RCT1">
                    <div>
                        <h3 class="mb-0">Arid Heights</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon: Loopy Landscapes</p>
                        <p>Money may or may not be a factor in trying to keep guests happy. Regardless, anything goes in this desert park.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Magic Carpet</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote arid_heights</span>
                    </div>
                </div>
            </div>
            <!-- Dusty Greens -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/dusty_greens.jpg" alt="Dusty Greens RollerCoaster Tycoon 2 roller coaster RCT2">
                    <div>
                        <h3 class="mb-0">Dusty Greens</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon 2</p>
                        <p>Situated near a highway junction in a desert, Dusty Greens is an opportunity to develop a small golf resort into a thriving theme park.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Mini Golf (×2)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote dusty_greens</span>
                    </div>
                </div>
            </div>
            <!-- Dynamite Dunes -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/dynamite_dunes.jpg" alt="Dynamite Dunes RollerCoaster Tycoon roller coaster RCT1">
                    <div>
                        <h3 class="mb-0">Dynamite Dunes</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon</p>
                        <p>Built in the middle of the desert, this park contains a roller coaster and plenty of available space.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Dynamite Blaster (Mine Train Roller Coaster)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote dynamite_dunes</span>
                    </div>
                </div>
            </div>
            <!-- Evergreen Gardens -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/evergreen_gardens.jpg" alt="Evergreen Gardens RollerCoaster Tycoon roller coaster RCT1">
                    <div>
                        <h3 class="mb-0">Evergreen Gardens</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon</p>
                        <p>Convert the beautiful Evergreen Gardens into a thriving theme park.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Merry-Go-Round</li>
                            <li>Swans</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote evergreen_gardens</span>
                    </div>
                </div>
            </div>
            <!-- Extreme Heights -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/extreme_heights.jpg" alt="Extreme Heights RollerCoaster Tycoon roller coaster RCT2">
                    <div>
                        <h3 class="mb-0">Extreme Heights</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon 2</p>
                        <p>Your challenge is to expand this desert park to attract people seeking the ultimate free for all experience.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Flaming Fury (Twister Roller Coaster)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote extreme_heights</span>
                    </div>
                </div>
            </div>
            <!-- Forest Frontiers -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/forest_frontiers.jpg" alt="Forest Frontiers RollerCoaster Tycoon roller coaster RCT1">
                    <div>
                        <h3 class="mb-0">Forest Frontiers</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon</p>
                        <p>Deep in a forest, build a thriving theme park in a large cleared area.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Merry-Go-Round</li>
                            <li>Pirate Ship</li>
                            <li>Twist</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote forest_frontiers</span>
                    </div>
                </div>
            </div>
            <!-- Geoffrey Gardens -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/geoffrey_gardens.jpg" alt="Geoffrey Gardens RollerCoaster Tycoon Added Attractions Corkscrew Follies roller coaster RCT1">
                    <div>
                        <h3 class="mb-0">Geoffrey Gardens</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon: Added Attractions</p>
                        <p>A large garden park needs turning into a thriving theme park.</p>
                        <p class="is-size-7"><strong>Contains custom scenery objects!</strong></p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Merry-Go-Round</li>
                            <li>Rowing Boats</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote geoffrey_gardens</span>
                    </div>
                </div>
            </div>
            <!-- Gravity Gardens -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/gravity_gardens.jpg" alt="Gravity Gardens RollerCoaster Tycoon 2 roller coaster RCT2">
                    <div>
                        <h3 class="mb-0">Gravity Gardens</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon 2</p>
                        <p>Your challenge is to build a thriving theme park in the beautiful Gravity Gardens with strangers.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Treetop Flyer (Wooden Roller Coaster)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote gravity_gardens</span>
                    </div>
                </div>
            </div>
            <!-- Leafy Lake -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/leafy_lake.jpg" alt="Leafy Lake RollerCoaster Tycoon roller coaster RCT1">
                    <div>
                        <h3 class="mb-0">Leafy Lake</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon</p>
                        <p>Starting from scratch, build a theme park around a large lake.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Rowing Boats</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote leafy_lake</span>
                    </div>
                </div>
            </div>
            <!-- Mega Park -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/mega_park.jpg" alt="Mega Park RollerCoaster Tycoon roller coaster RCT1">
                    <div>
                        <h3 class="mb-0">Mega Park</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon</p>
                        <p>Just for fun!</p>
                        <p class="is-size-7"><strong>Contains legacy RCT1 rides!</strong></p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Ferris Wheel</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote mega_park</span>
                    </div>
                </div>
            </div>
            <!-- Razor Rocks -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/razor_rocks.jpg" alt="Razor Rocks RollerCoaster Tycoon Loopy Landscapes roller coaster RCT1">
                    <div>
                        <h3 class="mb-0">Razor Rocks</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon: Loopy Landscapes</p>
                        <p>Your task is to collaborate with strangers and build a park amongst Razor Rocks.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Dodgems</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote razor_rocks</span>
                    </div>
                </div>
            </div>
            <!-- Six Flags Free For All -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/six_flags_free_for_all.jpg" alt="Build Your Own Six Flags Park Free For All RollerCoaster Tycoon 2 roller coaster RCT2">
                    <div>
                        <h3 class="mb-0">Six Flags Free For All</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon 2</p>
                        <p>Based off 'Build Your Own Six Flags Park.'</p>
                        <p class="is-size-7"><strong>Contains custom rides and scenery objects!</strong></p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Merry-Go-Round</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote six_flags_free_for_all</span>
                    </div>
                </div>
            </div>
            <!-- Three Monkeys Park -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/three_monkeys_park.jpg" alt="Three Monkeys Park RollerCoaster Tycoon Added Attractions Corkscrew Follies roller coaster RCT1">
                    <div>
                        <h3 class="mb-0">Three Monkeys Park</h3>
                        <p class="is-size-7 is-italic">RollerCoaster Tycoon: Added Attractions</p>
                        <p>Central to this large developing park is a giant triple-track racing/dueling steel coaster.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Hear No Evil (Looping Roller Coaster)</li>
                            <li>See No Evil (Looping Roller Coaster)</li>
                            <li>Speak No Evil (Looping Roller Coaster)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote three_monkeys_park</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Custom Maps -->
    <div class="box">
        <h2>Custom Maps</h2>
        <p class="mb-4">These are maps, made specifically for FFA Tycoon, that contain a large amount of custom ride types and scenery objects. If you would like to submit a map of your own, <a href="https://github.com/CorySanin/ffa-tycoon-parks#park-submission-guide">please follow this guide (GitHub)</a>.</p>
        <div class="columns mt-4 mb-4 is-multiline">
            <!-- Annelid Archipelago -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/annelid_archipelago.jpg" alt="Wild Water Gap FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Annelid Archipelago</h3>
                        <p class="is-size-7 is-italic">by RGTM &amp; SlyWerewolfAJ</p>
                        <p>The big island looks like a WORM, haha! The terrain is based off Sly's MS Paint art of WORM, which was later adapted by RGTM as a full-blown map.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Wacky Worm (Classic Mini Roller Coaster)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote annelid_archipelago</span>
                    </div>
                </div>
            </div>
            <!-- Aqua Lake -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/twoway_aqua_lakes.jpg" alt="Aqua Lake FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Aqua Lake</h3>
                        <p class="is-size-7 is-italic">by SparkleCat</p>
                        <p>This map's terrain is based off the "aqua_love" emote in the Two-Way Discord server.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Tanks (Custom Monster Trucks)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote twoway_aqua_lakes</span>
                    </div>
                </div>
            </div>
            <!-- Citizen's Divide -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/citizens_divide.jpg" alt="Citizen's Divide FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Citizen's Divide</h3>
                        <p class="is-size-7 is-italic">by SlyWerewolfAJ</p>
                        <p>This urban park is split in half by a highway, and guests are able to traverse through each side. Make sure not to get lost through all of the city commotion!</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Chairlift (×2)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote citizens_divide</span>
                    </div>
                </div>
            </div>
            <!-- Cold Rock River -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/cold_rock_river.jpg" alt="Cold Rock River FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Cold Rock River</h3>
                        <p class="is-size-7 is-italic">by Demo</p>
                        <p>The climate in this land is cold. The river would've been frozen over had it not been constantly flowing. You might want to grab a hot chocolate to warm yourself up.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Pipeweed (Custom Twist)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote cold_rock_river</span>
                    </div>
                </div>
            </div>
            <!-- Dirty Dusty Dome -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/dirty_dusty_dome.jpg" alt="Dirty Dusty Dome FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Dirty Dusty Dome</h3>
                        <p class="is-size-7 is-italic">by Demo</p>
                        <p>This land is hot and dry. Long ago, rain fell only once every five years. The winds were quite strong, and dust storms were common. Thankfully, today, the land is more lush.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>DA Jungle Stage Show (Custom 3D Cinema)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote dirty_dusty_dome</span>
                    </div>
                </div>
            </div>
            <!-- Fjords of Norway -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/fjords_of_norway.jpg" alt="Fjords of Norway FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Fjords of Norway</h3>
                        <p class="is-size-7 is-italic">by Demo</p>
                        <p>This park is situated in the freezing, mountainous regions of Scandinavia. At least there's an LSM launched coaster to keep your adrenaline pumping.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Speed Monster (LSM Launched Roller Coaster)</li>
                            <li>Merry-Go-Round</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote fjords_of_norway</span>
                    </div>
                </div>
            </div>
            <!-- Jungly Mountain -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/jungly_mtn.jpg" alt="Jungly Mountain FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Jungly Mountain</h3>
                        <p class="is-size-7 is-italic">by Demo</p>
                        <p>Within this vast, tropical environment, two different cultures congregated and set up their own distinct areas of interest. Now, as a theme park, they welcome everyone.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Golden Condor (Flying Roller Coaster)</li>
                            <li>Small Dragon's Run (Twister Roller Coaster)</li>
                            <li>Chinese Junk Swing Ride (WW/TT Swinging Inverter Ship)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote jungly_mtn</span>
                    </div>
                </div>
            </div>
            <!-- PC Ported -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/pc_ported.jpg" alt="PC Ported FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">PC Ported</h3>
                        <p class="is-size-7 is-italic">by SlyWerewolfAJ</p>
                        <p>This map's blinding terrain is based off Sly's MS Paint art of Scolipede, from Pokémon. We apologize in advance for the eye strain when you play this map.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Hall of Mirrors (WW/TT Crooked House)</li>
                            <li>4D Max (Custom 3D Cinema)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote pc_ported</span>
                    </div>
                </div>
            </div>
            <!-- Peninsula -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/peninsula.jpg" alt="Peninsula FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Peninsula</h3>
                        <p class="is-size-7 is-italic">by Demo</p>
                        <p>A parking lot project was cancelled due to a local protest seeking to preserve the environment. The work had already begun next to an old mining site.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Motion Simulator</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote peninsula</span>
                    </div>
                </div>
            </div>
            <!-- Red Sand Swamp -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/red_sand_swamp.jpg" alt="Red Sand Swamp FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2"><br>
                    <div>
                        <h3 class="mb-0">Red Sand Swamp</h3>
                        <p class="is-size-7 is-italic">by Demo</p>
                        <p>In this desert wasteland, a few craters still hold enough water for the only trees in the area. This area could be beautiful, but since nobody lives nearby, it could also be home of the ugliest coaster, anyway.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Canyon Blaster (Reverser Roller Coaster?)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote red_sand_swamp</span>
                    </div>
                </div>
            </div>
            <!-- Suburban Trials -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/suburban_trials.jpg" alt="Suburban Trials FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Suburban Trials</h3>
                        <p class="is-size-7 is-italic">by SlyWerewolfAJ</p>
                        <p>Somewhere outside Suburbia, you must build a park with strangers. Just be careful not to disturb any paranormal entities that lurk within the nearby graveyard.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Typhoon (Corkscrew Roller Coaster)</li>
                            <li>Skateboards (Custom Space Rings)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote suburban_trials</span>
                    </div>
                </div>
            </div>
            <!-- Sweaty Swamps -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/sweaty_swamps.jpg" alt="Sweaty Swamps FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Sweaty Swamps</h3>
                        <p class="is-size-7 is-italic">by SlyWerewolfAJ</p>
                        <p>Okay, okay, time out. Whose bright idea was it to build a theme park within this hot, swampy mess? Ugh, everything is so slimy and wet...</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Tilted Whirler (Custom Twist)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote sweaty_swamps</span>
                    </div>
                </div>
            </div>
            <!-- Train Panic -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/train_panic.jpg" alt="Train Panic FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Train Panic</h3>
                        <p class="is-size-7 is-italic">by SlyWerewolfAJ</p>
                        <p>Hmm, there's not a whole lot of trains to panic about. ...yet.</p>
                        <p style="font-style: italic;">(<strong class="has-text-weight-semibold">Coming Soon:</strong> a re-imagining of Train Panic, by RGTM &amp; SlyWerewolfAJ!)</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Engine Stalling (Inverted Impulse Roller Coaster)</li>
                            <li>Poor Airmanship (Inverted Impulse Roller Coaster)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote train_panic</span>
                    </div>
                </div>
            </div>
            <!-- Troglodyte River -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/troglodyte_river.jpg" alt="Troglodyte River FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Troglodyte River</h3>
                        <p class="is-size-7 is-italic">by Demo</p>
                        <p>This area was inhabited by cavemen a long time ago. Some preferred beaches, others flat lands. Now, a modern bridge crosses the river, and a fun park is growing!</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Spiral Slide</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote troglodyte_river</span>
                    </div>
                </div>
            </div>
            <!-- Two Ponds -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/two_ponds.jpg" alt="Two Ponds FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Two Ponds</h3>
                        <p class="is-size-7 is-italic">by Demo</p>
                        <p>That's right, there are two of them! This quaint area is the perfect spot to quickly collaborate with others and build something fun for everyone.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Rail Crazy (Single-Rail Roller Coaster)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote two_ponds</span>
                    </div>
                </div>
            </div>
            <!-- Vine Canyon -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/vine_canyon.jpg" alt="Vine Canyon FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Vine Canyon</h3>
                        <p class="is-size-7 is-italic">by SlyWerewolfAJ</p>
                        <p>With the help of strangers, turn this natural tourist attraction into a thriving theme park. There's already a head start, with two elevators taking guests safely to the top and bottom.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Elevator (×2)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote vine_canyon</span>
                    </div>
                </div>
            </div>
            <!-- Wild Water Gap -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/wild_water_gap.jpg" alt="Wild Water Gap FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Wild Water Gap</h3>
                        <p class="is-size-7 is-italic">by RGTM</p>
                        <p>For many millennia, a river carved through a large mountainside. Turn this popular hiking spot into a thriving theme park.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Observation Tower</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote wild_water_gap</span>
                    </div>
                </div>
            </div>
            <!-- WORM Ski Resort -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/worm_ski_resort.jpg" alt="WORM Ski Resort FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">WORM Ski Resort</h3>
                        <p class="is-size-7 is-italic">by SlyWerewolfAJ</p>
                        <p>Anything goes on this snowy slalom!</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Chairlift</li>
                            <li>Snow Cups</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote worm_ski_resort</span>
                    </div>
                </div>
            </div>
            <!-- Zoo Land -->
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="map">
                    <img src="assets/images/maps/zoo_land.jpg" alt="Zoo Land FFA Tycoon FFA-Tycoon Free For All RollerCoaster Tycoon 2 roller coaster RCT2 OpenRCT2">
                    <div>
                        <h3 class="mb-0">Zoo Land</h3>
                        <p class="is-size-7 is-italic">by WORM</p>
                        <p>A local zoo with several theme park attractions wants to invest more heavily on rides and coasters.</p>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Starting Rides</h4>
                        <ul class="is-size-7">
                            <li>Monorail</li>
                            <li>Circus</li>
                            <li>Killer Whale (WW/TT Submarine Ride)</li>
                        </ul>
                        <hr>
                        <h4 class="is-size-6 has-text-weight-medium">Vote String</h4>
                        <span class="is-size-7 is-family-monospace">!vote zoo_land</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>