<div class="content">
    <div class="box">
        <h1 id="rules">Rules</h1>
        <p role="doc-subtitle">You can do whatever you want, as long as you're okay with getting banned!</p>
        <p>
            Generally I try to stay out of the way of what happens on my servers. But there are a few things that I will not tolerate.
            <ul>
                <li><span class="has-text-weight-bold">No bigotry.</span> Not really sure who thinks it's funny to draw swastikas on everything, but I know I don't.</li>
                <li><span class="has-text-weight-bold">Don't trap guests.</span> This includes removing large amounts of paths.</li>
                <li><span class="has-text-weight-bold">Don't spam scenery or rides.</span></li>
                <li><span class="has-text-weight-bold">There are no "land claims."</span> If you have a section of the park you'd like to be left alone, you can politely ask other players to give you space. But you don't own the land. They're <span class="is-italic">my</span> servers, all the land is actually mine.</li>
                <li><span class="has-text-weight-bold">No "bad faith" building.</span> Building with the intent to block other players from building will not be tolerated.</li>
                <li><span class="has-text-weight-bold">Finish your rides.</span> Everything you build takes up space that can't be occupied by other players. I understand that sometimes rides take multiple sessions to build, but when I see flat rides that aren't open or coasters that are just a chainlift, I won't give them much time before I consider them abandoned. At which point I will demolish it.</li>
                <li><span class="has-text-weight-bold">Be polite to other players.</span> My servers have no barrier to entry and welcome all players. Making anyone feel unwelcome is unacceptable and may result in a ban.</li>
            </ul>
        </p>
        <p>
            Typically I kick once to let you know I'm aware of what you're doing. If I see it again, you'll get banned.
        </p>
        <p>
            Keep in mind that bans are temporary. No need to appeal them, just come back some other time. Most bans are only for a couple hours, while the more serious ones won't get forgiven until the server resets.
        </p>
    </div>
    <div class="box">
        <h1 id="faq">FAQ</h1>
        <p role="doc-subtitle">I'm guessing what questions might be common. Nobody asks me anything.</p>
        <p>
            <blockquote>Who runs/owns the servers?</blockquote>
            <a href="https://whoisworm.com/">WORM</a>. I own the server hardware and I operate all the servers except for the <a href="https://two-way.eu/">Two-Way</a> one.
        </p>
        <p>
            <blockquote>What about this server makes it a "free for all" if it has all these rules and restrictions?</blockquote>
            Primarily that anyone can connect and build what they want right away without the need for a moderator to grant permissions.
        </p>
        <p>
            <blockquote>But my free speech!</blockquote>
            This is my own private server, so free speech doesn't apply. Nice try though! Also that's not a question!
        </p>
        <p>
            <blockquote>How is the server preventing players from modifying rides that aren't theirs?</blockquote>
            <blockquote>What plugins do the FFA Tycoon servers use?</blockquote>
            I developed and use OpenRCT2 plugins to enhance multiplayer:
            <ul>
                <li><a href="https://github.com/CorySanin/openrct2-ffa-plugin-suite/">ffa-plugin-suite</a>: a collection of plugins specifically for FFA servers</li>
                <li><a href="https://github.com/CorySanin/openrct2-discord-bridge">openrct2-discord-bridge</a>: a plugin and Discord bot to synchronize in game chat with a Discord channel</li>
                <li><a href="https://github.com/CorySanin/openrct2-remote-control">remote-control</a>: a plugin for executing actions and retrieving information over TCP</li>
            </ul>
        </p>
        <p>
            <blockquote>Why do I keep getting kicked?</blockquote>
            The FFA Tycoon servers use a handful of different plugins, a few are designed to prevent griefing. You're most likely getting kicked because of the rate limit plugin. Rejoin, wait a bit, and resume building. Be careful not to go too fast. The server will warn you before it kicks you, so pay attention to chat. The rate limit only applies to certain actions!
        </p>
        <p>
            <blockquote>Can I get terraforming permissions (or any other additional permission or cheats, etc.)</blockquote>
            Nope. Each permission is an additional tool for griefers so that's why they're restricted. And I won't grant new permissions because that requires me to play a more active role in moderating the servers. Eventually I'd like to create a plugin that conditionally grants terraforming permissions, but there's no ETA on that.
        </p>
        <p>
            <blockquote>How can I submit a map?</blockquote>
            Follow the guide <a href="/submit-map">here</a>!
        </p>
        <p>
            <blockquote>How do I set up my own server?</blockquote>
            This is a technical question you're asking. Check out the guide I wrote <a href="/guide">here</a>. If you need more help, please do ask in my <a href="/discord">Discord guild</a>.
        </p>
    </div>
</div>