<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <%- include('head', locals) %>
</head>

<body id="<%= page.view %>">
    <%- include('header', locals) %>
    
    <div id="body">
        <%- include(page.view, locals) %>
    </div>
</body>

</html>