<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <%- include('head', locals) %>
</head>

<body id="viewer">
    <div id="map"></div>
    <div class="displaynone">
        <img id="parkimg" src="/archive/<%= park.dir %>/<%= park.largeimg || park.thumbnail %>" />
    </div>
    <script src="/assets/js/pixi.min.js" defer></script>
    <script src="/assets/js/viewer.js?v3" defer></script>
</body>

</html>