@import "_variables.sass";

html {
    height: 100%;
}

html,
body {
    padding: 0px;
    box-sizing: border-box;
    min-height: 100%;

    > #index {
        background-image: url(/assets/images/grass.png);
    }
}

* {
    box-sizing: inherit;
}

.parkstats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 15fr));
    column-gap: 1.5em;
    row-gap: .5em;
    align-items: center;

    > div span {
        font-weight: bold;
    }
}
